$primary900: #7a130b;
$primary800: #932412;
$primary700: #b73d1d;
$primary600: #ff6314;
$primary500: #ff7c3a;
$primary400: #ffa66b;
$primary300: #ffbf88;
$primary200: #ffd9b0;
$primary100: #ffeed7;
$grey900: #0d0d0d;
$grey800: #333333;
$grey700: #4d4d4d;
$grey600: #666666;
$grey500: #8c8c8c;
$grey400: #b3b3b3;
$grey300: #cfcfcf;
$grey200: #ededed;
$grey100: #fafafa;
